// vant样式修改
.vant-popup { //圆角弹窗
	.van-popup {
		width: 310px;
		border-radius: 8px;
		overflow: hidden;
	}
}
.vant-up {//向上动画
	van-transition {
		position: absolute;
		bottom: 50px;
		z-index: -1;
		width: 100%;
	}
}
.vant-tab { //导航样式
	.van-tabs__line {
		background-color:#C0A369;
		height: 2px;
		bottom: 1px;
	}
	.van-tab--active {
		font-size: 14px;
		font-weight: bold;
	}
	.van-tabs__wrap--scrollable .van-tab {
		flex: 1;
	}
	.van-tab__title__info {
		position: absolute !important;
		right: 4px !important;
		top: 5px !important;
	}
	.van-tabs--line .van-tabs__wrap {
		padding: 0 15px;
	}
	.van-info {
		position: absolute !important;
		right: 3px !important;
		top: 6px !important;
	}
}
.vant-tab-active { //导航样式active颜色
	.van-tabs__line {
		background-color:#C0A369;
		height: 2px;
		bottom: 1px;
	}
	.van-tab--active {
		font-size: 14px;
		font-weight: bold;
		color: #C0A369;
	}
	.van-tabs--line .van-tabs__wrap {
		padding: 0 30px;
	}
}
.vant-cell {//左滑删除
	.van-swipe-cell__right {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 80px;
		font-size: 12px;
		color: #fff;
		text-align: center;
		background-color: #ED5858;
	}
	.van-swipe-cell {
		height: 100%;
	}
}